@model FLEET.Models.COF

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>*@

<h4 class="bg-transparent badge-warning">UPDATE COF</h4>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="COFId" />
                <div class="form-group">
                    <label asp-for="COFNumber" class=" bg-warning control-label border-white"></label>
                    <input asp-for="COFNumber" class="form-control" />
                    <span asp-validation-for="COFNumber" class="text-danger"></span>
                </div>

    <div class="form-group">
            <label asp-for="Issued" class="bg-warning control-label"></label>
            <input asp-for="Issued" class="form-control" />
            <span asp-validation-for="Issued" class="text-danger"></span>
        </div>
    
    <div class="form-group">
            <label asp-for="Expired" class="bg-warning control-label"></label>
            <input asp-for="Expired" class="form-control" />
            <span asp-validation-for="Expired" class="text-danger"></span>
        </div>
    
    <div class="form-group">
            <label asp-for="Remarks" class="bg-warning control-label"></label>
            <input asp-for="Remarks" class="form-control" />
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

    @*<div>
        <a asp-action="Index" class=" badge-secondary btn-outline-warning btn-rounded btn-lg my-0">Back to List</a>
    </div>*@
</form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
